<div class="container">
    <img class="img-fluid" src="~/images/msg.png" alt="Fale conosco" />
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p >
            <span>
                <img class="img-fluid" src="~/images/email.png" />
            </span>
            <h5><email endereco="leandro.artilha@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img class="img-fluid" src="~/images/telefone.png" />
            </span>
            <h5>(11) 94026-4770</h5>
            <br />
            <span>
                <img class="img-fluid" src="~/images/home.png" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>

